@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Bodoni&family=Montserrat&display=swap');

/*
body * {
    border: 2px solid red;
}

*/

* {
    margin:0;
    padding:0;
}

:root{
    --main-background:#FFFDFD;
    --main-green:#28536B;
}

body {
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Libre Bodoni', serif;
    background-color: var(--main-background);
    color: var(--main-green);
    font-size:20px;
    line-height:1.6;
}

a {
    text-decoration:none;
    color: var(--main-green);
    font-weight: bold;
}

h1{
    font-size:3rem;
}

.flex-col-center{
    display:flex-column;
    justify-content:center;
}

.flex-center{
    display:flex;
    justify-content: center;
}

header{
    margin: 5vh 0;
    width: 100vw;
    border-top: 2px solid var(--main-green);
    border-bottom: 2px solid var(--main-green);
}

#navbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:5vh;
    position:fixed;
    top:0;
    right:2vw;
    width:100vw;
}

#navbar > ul {
    display:flex;
    list-style:none;
    gap: 2vw;
}

.nav-link{
    color: var(--main-green);
}

.recipe-image{
    max-width:200px;
    max-height:200px;
}
#wrapper{
    display:flex;
    flex-direction:column;
    width:80vw;
    margin:5vh auto;
    gap:5vh;
}

#recipe-section h1 {
    font-size:2rem;
    text-align:center;
    text-decoration-line:underline;
}
#featured{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.tile{
    text-align:center;
}

a:hover{
    text-decoration-line:underline;
}